<h1>Employee Details</h1> 

<p> <strong>Name:</strong>
 <%= @employee.name %> </p> <p> 

 <strong>Role:</strong> 
 <%= @employee.role %> </p>

<%= link_to "Back", new_employee_path %>
<%= link_to "Home", root_path %>